Validation Map

In [4]:
import os
import sys
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
sys.path.append('../')
import utils.csv as csv
import utils.plot as plot
import utils.shp as shp

In [5]:
PATH='D:\\Deutschland\\FUB\\master_thesis\\data'
LABEL_PATH = os.path.join(PATH, 'ref', 'validation', 'multi_aoi.csv')
SHP_PATH = os.path.join(PATH,'Reference_data','validation', 'aoi_polygons.shp')

In [6]:
aoi = csv.load(LABEL_PATH, 'id')
polygons = shp.load_shp_file(SHP_PATH)

import file D:\Deutschland\FUB\master_thesis\data\Reference_data\validation\aoi_polygons.shp

In [7]:
gdf = pd.merge(polygons, aoi, on='id', how='inner')
class_name = {110:'Spruce', 210:'Silver Fir', 310:'Douglas Fir', 410:'Pine', 
                  600:'Oak', 630:'Red Oak', 710:'Beech', 821:'Sycamore'}
gdf['name'] = gdf['BST1_BA_1'].map(class_name)
gdf.fillna('Others', inplace=True)
gdf

,BST1_BA_1,BST1_BA_2,BST1_BA_3,BST1_BA_4,BST1_BA_5,BST1_BA_6,BST1_BA_7,BST1_BA_8,BST1_BAA_1,BST1_BAA_2,...,area,geometry,Spruce,Silver Fir,Douglas Fir,Pine,Oak,Beech,Sycamore,name
0,410,710,810,630,420,620,859,110,60,25,...,0.000038,"POLYGON ((8.42070 49.06988, 8.42063 49.06990, ...",0,0,0,1,0,1,0,Pine
1,710,410,882,630,821,600,110,0,60,40,...,0.000035,"POLYGON ((8.44339 49.07688, 8.44354 49.07712, ...",0,0,0,1,0,1,0,Beech
2,410,710,630,810,620,110,883,0,45,40,...,0.000031,"POLYGON ((8.42511 49.09021, 8.42539 49.09020, ...",0,0,0,1,0,1,0,Pine
3,410,710,0,0,0,0,0,0,90,10,...,0.000029,"POLYGON ((8.43870 49.07354, 8.43871 49.07354, ...",0,0,0,1,0,0,0,Pine
4,310,210,710,821,851,831,620,110,50,30,...,0.000025,"POLYGON ((7.90083 47.99924, 7.90063 47.99941, ...",0,1,1,0,0,0,0,Douglas Fir
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,851,810,821,979,831,710,600,921,25,25,...,0.000001,"POLYGON ((8.93830 48.59221, 8.93843 48.59236, ...",0,0,0,0,0,0,0,Others
190,921,831,979,874,810,110,600,710,70,20,...,0.000001,"POLYGON ((8.93760 48.59478, 8.93785 48.59498, ...",0,0,0,0,0,0,0,Others
191,710,821,110,980,950,210,0,0,50,30,...,0.000001,"POLYGON ((7.92569 47.99797, 7.92569 47.99800, ...",0,0,0,0,0,1,1,Beech
192,110,210,410,710,920,510,310,930,75,15,...,0.000001,"POLYGON ((8.95481 48.58559, 8.95480 48.58587, ...",1,0,0,0,0,0,0,Spruce
193,410,710,851,810,0,0,0,0,85,15,...,0.000001,"POLYGON ((8.43931 49.07606, 8.43748 49.07581, ...",0,0,0,1,0,0,0,Pine

In [8]:
# Karlsruhe
aoi_1 = gdf[gdf['Location'] == 'Hardtwald_pine_beech_redoak']
# Stuttgart
aoi_2 = gdf[gdf['Location'] == 'schoenbuch_beech_oak_mixture']
# Freiburg
aoi_3 = gdf[gdf['Location'] == 'Schwarzwald_spruce_silverfir_douglasfir']
# dict of aoi
areas = {'Hardtwald':aoi_1, 'Schoenbuch':aoi_2, 'Schwarzwald':aoi_3}
# draw map
for area, gdf in areas.items():
    plot.draw_color_map(gdf, area, 'Origin')
    plot.draw_symbol_map(gdf, area, 'Origin')

AOI SHP Generation

In [3]:
import geopandas as gpd
import utils.shp as shp
from geopandas.tools import sjoin
file_path = os.path.join(PATH, 'Reference_data', 'bw_all_polygons', 'buffered_wgs_bw_polygons.shp')
aoi_path = os.path.join(PATH, 'Reference_data', 'validation', 'Objectbased_classification_regression_validation2.shp')
out_path = os.path.join(PATH, 'Reference_data', 'validation', 'aoi_polygons.shp')

In [4]:
polygons = shp.load_shp_file(file_path)
polygons

import file D:\Deutschland\FUB\master_thesis\data\Reference_data\bw_all_polygons\buffered_wgs_bw_polygons.shp

,BST1_BA_1,BST1_BA_2,BST1_BA_3,BST1_BA_4,BST1_BA_5,BST1_BA_6,BST1_BA_7,BST1_BA_8,BST1_BAA_1,BST1_BAA_2,...,BST3_BAA_1,BST3_BAA_2,BST3_BAA_3,BST3_BAA_4,BST3_BAA_5,BST3_BAA_6,BST3_BAA_7,BST3_BAA_8,id,geometry
0,110,943,920,979,0,0,0,0,100,0,...,0,0,0,0,0,0,0,0,1,"POLYGON ((9.71275 48.83270, 9.71276 48.83275, ..."
1,110,831,600,710,920,0,0,0,95,5,...,0,0,0,0,0,0,0,0,2,"POLYGON ((9.71103 48.82652, 9.71106 48.82653, ..."
2,110,831,820,921,710,979,0,0,60,20,...,0,0,0,0,0,0,0,0,3,"POLYGON ((9.71794 48.83711, 9.71794 48.83712, ..."
3,110,710,831,0,0,0,0,0,60,40,...,0,0,0,0,0,0,0,0,4,"POLYGON ((9.71427 48.82590, 9.71429 48.82593, ..."
4,110,831,710,821,930,600,210,0,40,30,...,0,0,0,0,0,0,0,0,5,"POLYGON ((9.71447 48.82624, 9.71446 48.82625, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283607,410,710,600,310,810,910,0,0,50,40,...,0,0,0,0,0,0,0,0,418137,"MULTIPOLYGON (((8.62672 49.34822, 8.62517 49.3..."
283608,410,710,600,910,810,0,0,0,70,20,...,0,0,0,0,0,0,0,0,418139,"POLYGON ((8.61916 49.35218, 8.61918 49.35221, ..."
283609,410,710,6,810,110,881,600,821,70,30,...,0,0,0,0,0,0,0,0,418141,"POLYGON ((8.61311 49.33944, 8.61375 49.33975, ..."
283610,710,831,410,600,810,110,822,630,45,20,...,0,0,0,0,0,0,0,0,418142,None
283611,710,831,410,600,810,110,822,630,45,20,...,0,0,0,0,0,0,0,0,418143,"POLYGON ((8.62368 49.33271, 8.62370 49.33270, ..."

In [5]:
aoi = shp.load_shp_file(aoi_path)
aoi.drop(columns=['id'], inplace=True)
aoi = shp.reproject(aoi)
aoi

import file D:\Deutschland\FUB\master_thesis\data\Reference_data\validation\Objectbased_classification_regression_validation2.shp
Reproject to EPSG:4326

,Location,geometry
0,Hardtwald_pine_beech_redoak,"POLYGON ((8.42299 49.08763, 8.45038 49.08776, ..."
1,Schwarzwald_spruce_silverfir_douglasfir,"POLYGON ((7.90144 48.00939, 7.92825 48.00964, ..."
2,schoenbuch_beech_oak_mixture,"POLYGON ((8.93597 48.59956, 8.96309 48.59958, ..."

In [6]:
assert polygons.crs == aoi.crs, "Coordinate Reference Systems (CRS) must match"
val_polygons = sjoin(polygons, aoi, how='inner', op='intersects')
val_polygons.drop(columns=['index_right'], inplace=True)
val_polygons['area'] = val_polygons.geometry.area
val_polygons.sort_values(by='area', ascending=False, inplace=True)
output = val_polygons.head(195)
shp.export_shp_file(output, out_path)
shp.export_csv_reference(output, LABEL_PATH)

C:\Users\Kosen Wang\AppData\Local\Temp\ipykernel_58892\3552821578.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  val_polygons['area'] = val_polygons.geometry.area
d:\LenovoSoftstore\Anaconda\envs\geo\lib\site-packages\geopandas\io\file.py:299: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

export file D:\Deutschland\FUB\master_thesis\data\Reference_data\validation\aoi_polygons.shp
export file D:\Deutschland\FUB\master_thesis\data\ref\validation\reference-aoi.csv